.panel{
    background-color: rgb(197, 134, 118);
    background-image: linear-gradient(rgb(92, 68, 68), rgb(218, 240, 167));
    background-size: contain;
    position: relative;
}
.jumbotron{
  background-image: url(../images/board.jpg);
  background-attachment: local;

}
h1{
  text-align: center;

}
#button {
 background: green;
 border: none;
 border-radius: 5px;
 padding: 10px;
 color: white;
 font-size: 16px;
 transition-duration: .5s;
 margin-top: 15px;
}
#button:hover {
 background: white;
 border: 1px solid black;
 color: black;
 cursor: pointer;
}
#after_submit {
 visibility: white;
 background: grey;

 width: 200px;
 border-radius: 20px;
 float: right;
 margin-left: 20px;
 font-size: 20px;
}
.intro{
  font-style: italic;
  color: red;
}
img{
margin-left: 400px;
}
