.panel{
    background-color: rgb(128, 128, 128);
    background-size: contain;
    position: relative;
    text-align: center;
    color: black;
}
.jumbotron{
  background-image: url(../images/board.jpg);
  background-attachment: local;

}
h1{
  text-align: center;

}
#button {
 background: green;
 border: none;
 border-radius: 5px;
 padding: 10px;
 color: white;
 font-size: 16px;
 transition-duration: .5s;
 margin-top: 15px;
}
#button:hover {
 background: white;
 border: 1px solid black;
 color: black;
 cursor: pointer;
}
